@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@model Student
@{
    ViewData["Title"] = "Home Page";
    var student = ViewData["Student"] as Student;
    var schedule = ViewData["Schedule"] as Schedule;
    var courses = ViewData["Courses"] as List<Course>;
}

<header>
    <nav class="navbar navbar-custom navbar-expand-md navbar-toggleable-sm bg-faded box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand">
                <img src="https://brocku.ca/brand/wp-content/uploads/sites/sites/176/Brocku-logo-screen.png?x44039" width="125" height="70">
            </a>
            <a class="navbar-brand text-white font-weight-bold"> CourseOfActionDashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="LoginPage">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @{ if (student != null)
                {
                    <h1>Welcome @student.FullName()</h1>
                    <h1>Email: @student.Email</h1>
                }
            }
            <div class="row">
                <div class="container-fluid" style="">
                    <!--Progress Bar Legend-->
                    <div class="legendarea" style="padding-top:3%;">
                        <table style="width:400px;">
                            <tc>
                                <td style="background-color:#00cc00;width:30px;border-radius:5px;">&nbsp;</td>
                                <td>  Completed  </td>
                            </tc>
                            <tc>
                                <td style="background-color:#ffcc00;width:30px;border-radius:5px;">&nbsp;</td>
                                <td>  Planned  </td>
                            </tc>
                            <tc>
                                <td style="background-color:lightcoral;width:30px;border-radius:5px;">&nbsp;</td>
                                <td>  Required  </td>
                            </tc>
                        </table>
                        <button onclick="updateProgress()">Refresh Stats (test button)</button>
                    </div>

                    <!--Progress Bar-->
                    <div class="progressarea" style="padding-top:2.5%;">
                        <div class="progress" style="background-color:lightcoral">
                            <div class="progress-bar-striped bg-success" id="percentCompleted" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div><!--aria-valuenow="10"-->
                            <div class="progress-bar-striped bg-warning" id="percentPlanned" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <!--Credits Statistics-->
                    <div class="statsarea1" style="padding:2.5%;">
                        <div class="statsarea2" style="background-color:lightgrey;border-radius:5px;">
                            <div class="row">
                                <div class="col" style="border:solid;border-radius:5px;background-color:lightgray;">
                                    <table style="width:100%;margin:auto;">
                                        <tr style="font-weight:bold;">
                                            <tc><td>Credits</td></tc>
                                            <tc><td>Planned</td></tc>
                                            <tc><td>Completed</td></tc>
                                        </tr>
                                        <tr>

                                            <tc><td style="">Overall</td></tc>
                                            <tc><td id="overPlanned" style="">0/0</td></tc>
                                            <tc><td id="overCompleted" style="">0/0</td></tc>
                                        </tr>
                                        <tr>
                                            <tc><td style="">Major</td></tc>
                                            <tc><td id="majorPlanned" style="">0/0</td></tc>
                                            <tc><td id="majorCompleted" style="">0/0</td></tc>
                                        </tr>
                                        <tr>
                                            <tc><td style="">Minor</td></tc>
                                            <tc><td id="minorPlanned" style="">0/0</td></tc>
                                            <tc><td id="minorCompleted" style="">0/0</td></tc>
                                        </tr>
                                        <tr>
                                            <tc><td style="">Social Science</td></tc>
                                            <tc><td id="socPlanned" style="">0/0</td></tc>
                                            <tc><td id="socCompleted" style="">0/0</td></tc>
                                        </tr>
                                        <tr>
                                            <tc><td style="">Humanities</td></tc>
                                            <tc><td id="humPlanned" style="">0/0</td></tc>
                                            <tc><td id="humCompleted" style="">0/0</td></tc>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col" style="border:solid;border-radius:5px;background-color:lightgray;">
                                    <table style="width:100%;margin:auto;">
                                        <tr style="font-weight:bold;">
                                            <tc><td>Credits</td></tc>
                                            <tc><td>Planned</td></tc>
                                            <tc><td>Completed</td></tc>
                                        </tr>
                                        <tr>
                                            <tc><td style="">1alpha00-1alpha99</td></tc>
                                            <tc><td id="1aPlanned" style="">0/0</td></tc>
                                            <tc><td id="1aCompleted" style="">0/0</td></tc>
                                        </tr>
                                        <tr>
                                            <tc><td style="">2alpha00-2alpha99</td></tc>
                                            <tc><td id="2aPlanned" style="">0/0</td></tc>
                                            <tc><td id="2aCompleted" style="">0/0</td></tc>
                                        </tr>
                                        <tr>
                                            <tc><td style="">3alpha00-3alpha99</td></tc>
                                            <tc><td id="3aPlanned" style="">0/0</td></tc>
                                            <tc><td id="3aCompleted" style="">0/0</td></tc>
                                        </tr>
                                        <tr>
                                            <tc><td style="">4alpha00-4alpha99</td></tc>
                                            <tc><td id="4aPlanned" style="">0/0</td></tc>
                                            <tc><td id="4aCompleted" style="">0/0</td></tc>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!--Schedule Options-->
                <div class="container-fluid col-8 p-0">
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                        <a class="navbar-brand">Course Scheduler</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <form id="btn_bar" class="form-inline">
                                    <button type="button" class="btn btn-outline-primary add_year mr-2" onclick="addYear()">Add Year</button>
                                </form>
                                <form class="form-inline">
                                    <button type="button" class="btn btn-outline-success mr-2" onclick="buildJSON()">Save</button>
                                    <button type="button" class="btn btn-outline-secondary mr-2" onclick="resetSchedule()">Reset</button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="exportSchedule()">Export</button>
                                </form>
                            </div>
                        </div>
                    </nav>

                    <!--Course Planner-->
                    <div style="margin: 10px 0px; background-color: #E4F5FC; overflow-x: auto; min-height: 500px">
                        <div id="course_planner" class="ml-1 d-inline-flex" style="white-space: nowrap; width: 93%; min-height: 480px;">
                            @if (schedule != null)
                            {
                                int yearNum = -1;
                                for (int y = 0; y < schedule.Courses.Count; y++)
                                {
                                    if (schedule.Courses[y][0] != null)
                                    {
                                        yearNum++;
                                        <div class="col-3 year_container align-top mt-2 ml-1 mr-1 mb-2 pb-1">
                                            <div class="row year">
                                                <span class="mb-2 mt-3" style="user-select: none">
                                                    Year @(yearNum + 1)
                                                </span>
                                                @if (y >= 4)
                                                {
                                                    <span class="mt-3 ml-5 remove_year" style="cursor:pointer" onclick="removeYear(this)">
                                                        remove
                                                        @*<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>*@
                                                    </span>
                                                }
                                            </div>
                                            <div>
                                                <ul id="ul_year" class="ul_container ul_format" style="min-height: 400px;">
                                                    @for (int i = 0; i < schedule.Courses[y].Count; i++)
                                                    {
                                                        if (schedule.Courses[y][i] != null)
                                                        {
                                                            <li class="row credit_box draggable p-2" draggable="true" style="white-space: normal;">
                                                                <div id="@schedule.Courses[y][i].CID" class="col-10 courseName pl-2 pr-1">@schedule.Courses[y][i].Subject @schedule.Courses[y][i].Code</div>
                                                                <span class="col-1 remove_btn pl-2" onclick="remove(this)">x</span>
                                                            </li>
                                                        }
                                                    }
                                                </ul>

                                            </div>
                                        </div>
                                    }
                                    else if (schedule.Courses[y][0] == null && y < 4)
                                    {
                                        yearNum++;
                                        <div class="col-3 year_container align-top mt-2 ml-1 mr-1 mb-2 pb-1">
                                            <div class="row year">
                                                <span class="mb-2 mt-3" style="user-select: none">
                                                    Year @(yearNum + 1)
                                                </span>
                                                @if (y >= 4)
                                                {
                                                    <span class="mt-3 ml-5 remove_year" style="cursor:pointer" onclick="removeYear(this)">
                                                        remove
                                                        @*<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                        </svg>*@
                                                    </span>
                                                }
                                            </div>
                                            <div>
                                                <ul id="ul_year" class="ul_container ul_format" style="min-height: 400px;">
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>

                <!--Course List-->
                <div class="container-fluid col-4 overflow-auto" style="background-color:darkseagreen">
                    <input type="text" id="myInput" onkeyup="filterFunction()" placeholder="Search for courses..">
                    <ul id="myUL" style="overflow-y:scroll; max-height: 400px">
                        @for (int i = 0; i < courses.Count; i++)
                        {
                            <li class="list-group-item draggable course_list" draggable="true">
                                <div id="@courses[i].CID" style="text-align: center">@courses[i].Subject @courses[i].Code</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="container-fluid" style="background-color:brown">
                    <button class="show-example-btn" aria-label="SuccessButton" onclick="alertMessage(0)">
                        Success Test
                    </button>
                    <button class="show-example-btn" aria-label="DangerButton" onclick="alertMessage(1)">
                        Danger Test
                    </button>
                    <button class="show-example-btn" aria-label="InfoButton" onclick="alertMessage(3)">
                        Info Test
                    </button>
                    <button class="show-example-btn" aria-label="WarningButton" onclick="alertMessage(2)">
                        Warning Test
                    </button>
                    <!--Error Box
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> This alert box could indicate a successful or positive action.
                    </div>
                    <div class="alert alert-info alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
                    </div>
                    <div class="alert alert-warning alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
                    </div>
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
                    </div>-->
                </div>
            </div>
        </main>
    </div>

</body>
<footer class="bg-light border-top footer">
    <p class="one small">
        <a href="https://brocku.ca/">Brock University Home</a>
        <a href="https://my.brocku.ca/Portal/Login.aspx?ReturnUrl=%2fportal%2fDefault.aspx">my.brocku.ca</a>
        <a href="https://www.brocku.ca/accessibility">Accessibility</a>
        <a href="https://lms.brocku.ca/access/content/group/Copyright_Info/access/copyright.html">Copying Guidelines</a>
        <a href="https://github.com/LYethon/COSC4P02Project/">Powered By Team Rocket</a>
    </p>
    <p class="small">
        Brock University | Niagara Region |
        <a href="https://brocku.ca/contact">1812 Sir Isaac Brock Way, St. Catharines, Ont., L2S 3A1 Canada</a>
    </p>
    <p class="small">
        <a href="tel://+19056885550">+1 905-688-5550</a>
    </p>
    <p class="small">
        Brock University is located on the traditional lands of the Haudenosaunee and Anishinaabe peoples and traditional shared hunting and gathering grounds of many nations.
    </p>
    <p class="small">
        © Brock University. Other content copyrighted as noted.
    </p>
    <p class="small">
        Powered by <big>Team Rocket</big>
    </p>
</footer>
<script type="text/javascript">


    checkPrereq(); //you can get rid of me later;)

    function checkPrereq() {
        //save list of IDs from student CP
        const stdIdArray = [];
        const yearContainers = document.querySelectorAll('.courseName')
        yearContainers.forEach(course => {
            stdIdArray.push(parseInt(course.id));
        })
        console.log(stdIdArray);

        //fetch prereqs based off IDs
        $.ajax({
            type: 'get',
            url: "@(Url.Action("pullPrereqs", "Home"))",
            data: { 'idArray': stdIdArray},
            dataType: 'json',
            traditional: true,
            success: function (data) {
                console.log("Success Prereq");
                //JAMES DO UR STUFF HERE V
                console.log(data);



            },
            error: function (e) {
                console.log("Error Prereq");
            }
        });
    }


    function alertMessage(num) {
        switch (num) {
            case 0:
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'This alert box could indicate a successful or positive action!',
                });
                break;
            case 1:
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'This alert box could indicate a dangerous or potentially negative action!',
                })
                break;
            case 2:
                Swal.fire({
                    icon: 'warning',
                    title: 'Warning',
                    text: 'This alert box could indicate a warning that might need attention!',
                })
                break;
            case 3:
                Swal.fire({
                    icon: 'info',
                    title: 'Info',
                    text: 'This alert box could indicate a neutral informative change or action!',
                })
                break;
            default:
                return;
        }
    }



    function saveSched() {
        var studentJson = @Html.Raw(Json.Serialize(@student));

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("saveSchedule", "Home"))",
            data: { json: JSON.stringify(studentJson) },
            success: function (msg) {
                console.log("Success");
            },
            error: function (e) {
                console.log("Error");
            }
        });
    }

    function buildJSON() {
        const courseArray = [];

        var yearList = document.getElementsByClassName("year_container");
        for (var i = 0; i < yearList.length; i++) {
            var idArray = [];
            var courseList = yearList[i].getElementsByClassName("courseName");
            for (var q = 0; q < courseList.length; q++) {
                idArray.push(parseInt(courseList[q].id));
            }
            if (courseList.length == 0) {
                idArray.push(-1);
            }
            courseArray.push(idArray);
        }
        console.log(courseArray);

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("saveSchedule", "Home"))",
            data: { idList: courseArray, studentId:@student.Id},
            success: function (msg) {
                console.log("Success");
            },
            error: function (e) {
                console.log("Error");
            }
        });
    }

    // export student schedule as a csv
    function exportSchedule() {

        $.ajax({
            url: "@(Url.Action("ExportSchedule", "Home"))",
            contentType: 'application/json; charset=utf-8',
            data: { studentId:@student.Id },
            type: 'GET',
            beforeSend: function () {
                buildJSON();
            },
            success: function () {
                window.location = "@(Url.Action("ExportSchedule", "Home", new { studentId = @student.Id }))"
            }
        });
    }

    function resetSchedule() {
        var defaultSched = [[1,2,3,44,45],[4,5,6,7,43,46],[11,12,13,41,42],[24,25,31,]]
        buildJSON(defaultSched);
        location.reload(true);
    }
</script>