
@{
    @model Student
    ViewData["Title"] = "LoginPage";
    ViewBag.Title = "LoginPage";
}
<div class="background">
    <header>
        <nav class="navbar navbar-custom navbar-expand-md">
            <div class="container">
                <a class="navbar-brand mr-1">
                    <img src="https://brocku.ca/brand/wp-content/uploads/sites/sites/176/Brocku-logo-screen.png?x44039" width="125" height="70">
                </a>
            </div>
        </nav>
    </header>
    <div class="row align-items-center h-75 container-fluid">
        <div class="col-lg-4 col-md-6 col-sm-6 mx-auto">
            <div class="card">
                <div class="h1 card-header text-center">
                    Course of Action Dashboard
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("LoginPage", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group" id="invalid" style="display: none; color: #dc3545;">
                            Invalid username or password.
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-danger btn-lg btn-block" value="Login" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body, html {
        height: 100%;
    }
</style>
<script>

    var urlParam = new URLSearchParams(window.location.search);
    if (urlParam.has('error') && urlParam.get('error') == 'login') {
        invalidLogin();
        window.history.replaceState(null, null, window.location.pathname);
    }

    function invalidLogin() {
        var x = document.getElementById("invalid");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

