
@{
    @model Student
    ViewData["Title"] = "LoginPage";
    ViewBag.Title = "LoginPage";
}
<!-- Login Page Layout -->
<!-- container -->
<div class="h-100 w-100" style="background-image: url('https://brocku.ca/brock-news/wp-content/uploads/2020/04/Aerial-Drone-2017-002-1600x899.jpg?x70330')">
    <!-- title -->
    <div class="row justify-content-md-center">
        <div class="col-8 text-center h1 p-1" style="background-color:white; outline:5px solid red;">
            Course of Action Dashboard
        </div>
    </div>

    <!-- form -->
    <div class="pt-4 row justify-content-md-center">

        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    Login
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("LoginPage", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-danger btn-lg btn-block" value="Login" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


</div>


